* {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.image {
    padding-top: 20px;
}

.active {
    background-color: lightgreen;
    height: 20px;
}

.active-grey {
    background-color: lightgrey;
    height: 20px;
}

.active-white {
    height: 20px;
}

